.headerquiz {
    background-image: url(../images/background-quiz.jpg);
    height: 750px;
}

.quiz-content {
    margin-left: 40px;
}

.title-quiz {
    font-family: "Inter Tight", sans-serif;
    font-size: 96px;
    margin-bottom: 18px;
    margin-top: 16px;
}

.quiz-border {
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.quiz-text-border {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 24px;
    display: inline-block; 
    width: fit-content; 
}

.quiz-botton {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.quiz-click {
    background-color: #FF7F39;
    color: black;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 4px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 23px;
    width: 300px;
    margin-top: 100px;
    padding-left: 115px;
}

a {
    text-decoration: none;
}

@media (max-width: 380px) {
    .title-quiz {
        font-size: 38px;
    }

    .quiz-content {
        margin-left: 0px;
    }
    .quiz-text-border {
    font-size: 16px;}
    .quiz-border {
    justify-content: flex-start;
    margin-top: 15px;
}

.quiz-botton {
    margin-top: 200px;
}

}