.quiz {
    height: 750px;
}
.container3 {
    max-width: 900px;
    margin: 0 auto;
}
.quiz-images {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.quiz-content2 {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.quiz-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-border {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 67px;
}

.quiz-variants {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}
.quiz-text2 {
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 20px;
}

.quiz-variant {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block; 
    width: 330px; 
    margin-right: 14px;
    margin-bottom: 14px;
}

.quiz-variant a {
   color: #F4F5F8;
    text-decoration: none;
}


.quiz-variants :hover {
    background-color: #FF7F39;
    height: 43px;
    border-radius: 5px;
    width: 330px; 
}

@media (max-width: 380px) {
    .container3 {
        margin-left: 20px;
    }
    
    .title-quiz {
        font-size: 38px;
    }

    .quiz-content {
        margin-left: 0px;
    }
    .quiz-text-border {
    font-size: 16px;}
    .quiz-border {
    justify-content: flex-start;
    margin-top: 15px;
}

.quiz-variants {
    flex-direction: column;
    margin-left: 0;
}

}