.navbar {
    background-color: black;
}

.navbar-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.5s;
}

.navbar-menu a:hover {
    background-color: #292929;
}

.navbar-mobile {
    display: none;
    border: 0;
    background: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem;
        max-width: 1200px;
        margin: 2rem auto;
    }
    .gallery-item {
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        transition: transforn 0.3s;
    }

    .gallery-item:hover {
        transform: scale(1.05);
    }

    .gallery-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
    }

    .table {
    max-width: 1200px;
    margin: 2rem auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #555555
}

th {
    background-color: #555555;
    color: #fff;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 786px) {
    .navbar-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        flex-direction: column;
        background-color: #000;
        width: 300px;
        gap: 0;
    }

    .navbar-menu a {
        display: block;
        padding: 1rem 2rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-mobile {
        display: block;
    }

    .navbar-wrap {
        position: relative;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 375px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}