.header {
    background-image: url(../images/main-page-background.jpg);
}

.container-st {
    max-width: 1400px;
    margin: 0 auto;
    margin-left: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 47px 0;
}

nav a {
    color: #F4F5F8;
    text-decoration: none;
}

nav a:hover {
    color: #FF7F39;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    background-image: url('../images/phone-mockup.png');
    background-position: 120% bottom;
    background-repeat: no-repeat;
}

.header-logo {
    background-image: url('../images/logo-main.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 113px;
    margin-bottom: 34px;
}

.header-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    margin-bottom: 18px;
}

.header-description {
    font-size: 23px;
    margin-bottom: 18px;
}

.idea-mission {
    display: flex;
    justify-content: flex-start;
    margin-top: 78px;
}

.idea {
    background-image: url('../images/style-wh-p.svg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
    height: 428px;
    margin-right: 35px;
}

.mission {
    background-image: url('../images/style-or-p.svg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
    height: 428px;
}

.idea-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    color: #000000;
    padding-top: 93px;
    padding-left: 35px;
}

.idea-text {
padding-bottom: 18px;
    color: #000000;
    font-size: 23px;
    padding-left: 35px;
}

.value-cont {
    display: flex;
    justify-content: flex-start;
    margin-top: 78px;
}

.value-text {
    display: flex;
    flex-direction: column;
}

.value-point {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 23px;
    display: inline-block; 
    width: fit-content; 
    margin-bottom: 17px;
    margin-left: 35px;
}

.value-tov {
    display: flex;
    justify-content: flex-start;
}

.value-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 455px;
}

.tov {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 455px;
    margin-top: 75px;
    margin-left: 300px;
}

.value-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    padding-left: 35px;
    margin-top: 20px;
}

.logo {
    margin-bottom: 130px;
    padding-top: 130px;
}

.head {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 58px;
}

.cube {
    padding-right: 35px;
}

.title {
    font-family: Inter Tight;
    font-size: 56px;
}

.logo-icons {
    display: flex;
    justify-content: flex-start;
    padding-right: 60px;
}

.logo-icon {
    margin-right: 60px;
}

.logo-icon1 {
    margin-bottom: 23px;
}

.logo-icon-text {
    font-size: 23px;
}

.color {
    margin-top: 500px;
}

.page-icons {
    display: flex;
    justify-content: space-between;
}

.page-icon {
    padding-right: 60px;
}

.page {
    padding-bottom: 23px;
}

.typo {
    padding-bottom: 130px;
    padding-top: 130px;
}

.typo-text {
    font-size: 18px;
}

.typo-main {
    display: flex;
    justify-content: space-between;
}

.typo-text2 {
    display: flex;
    justify-content: flex-start;
}

.typo-column1 {
    padding-right: 124px;
}

.typo-TITLE {
    font-family: Inter Tight;
    font-size: 56px;
}

.typo-subTITLE {
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}

.typo-button {
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
}

.typo-main-text {
    font-size: 20px;
    padding-top: 30px;
}

.typo-description {
    font-size: 16px;
    padding-top: 30px;
}

.grid {
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
    padding-right: 117px;
}

.grid-title {
    font-family: Inter Tight;
    font-size: 56px;
    width: 241px;
}

.grid-main-text {
    font-size: 18px;
    padding-top: 13px;
}

.grid-text {
    padding-right: 117px;
}

.grid-column {
    display: flex;
    justify-content: flex-start;
}

.column-orange {
    background-color: #FF7F39;
    height: 155px;
    width: 119px;
    margin-right: 14px;
}

.column-grey {
    background-color: #C8C8C8;
    height: 155px;
    width: 102px;
    margin-right: 15px;
}

.column-white {
    background-color: #F4F5F8;
    height: 155px;
    width: 115px;
    margin-right: 9px;
}

.graphics {
    background-image: url(../images/white-note.svg);
    background-size: cover;
    margin-top: 120px;
}

.title2 {
    color: #000;
    font-family: Inter Tight;
    font-size: 47px;
    padding-left: 86px;
    padding-top: 47px;
    padding-bottom: 50px;
}

.count {
    display: flex;
    justify-content: flex-start;
    padding-right: 28px;
    padding-bottom: 23px;
}

.number {
    font-size: 18px;
    padding-right: 28px;
    width: 135px;
}

.count1 {
    background-color: #C8C8C8;
    height: 17px;
    width: 1072px;
}

.count2 {
    background-color: #C8C8C8;
    height: 17px;
    width: 1072px;
    padding-top: 23px;
}

.count3 {
    background-color: #C8C8C8;
    height: 35px;
    width: 1072px;
    padding-top: 23px;
}

.count4 {
    background-color: #C8C8C8;
    height: 70px;
    width: 1072px;
    padding-top: 23px;
}

.count5 {
    background-color: #C8C8C8;
    height: 140px;
    width: 1072px;
    padding-top: 23px;
}

.media {
    padding-bottom: 52px;
}

.graphics-list {
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
}

.graphics-item {
    border: 1px solid #000000; 
    color: #000;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block; 
    width: fit-content; 
    margin-right: 23px;
}

.graphics-text {
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-left: 75px;
    padding-top: 23px;
}

.graphics-title {
    font-size: 23px;
}

.graphics-text-small {
    font-size: 18px;
    width: 545px;
}

.graphics-images {
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
    padding-top: 75px;
}

.graphics-image{
    max-width: 530px;
    margin-right: 60px;
}
.graphics-image1 {
    display: flex;
    justify-content: space-between;
}

.graphics-image2 {
    padding-right: 23px;
    padding-bottom: 23px;
}

.graphics-text-small2 {
    font-size: 18px;
    width: 545px;
    padding-bottom: 83px;
}

.gliphs {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 100px;
}

.gliph {
    margin-right: 100px;
}

.gliphss {
    margin-top: 100px;
    max-width: 1400px;
}

.illustrations {
   margin-top: 10px;
   padding-left: 45px;
}

.gliph-box {
    display: flex;
    justify-content: flex-start;
}

.gliph-ph {
    margin-right: 20px;
    margin-bottom: 20px;
}

.photoes-ill {
    margin-bottom: 100px;
}

.gliphsss {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
}

